.Tooltip {
  position: relative;
}

.Tooltip-content {
  visibility: hidden;
  opacity: 0;
  transition: .1s opacity;
  position: absolute;
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%);
  margin: 10px 0;
  min-width: 120px;
  color: white;
  background-color: black;
  padding: 5px;
}

.Tooltip-content::before {
  content: '';
  top: 100%;
  left: 50%;
  transform: rotate(45deg);
  margin: -5px;
  padding: inherit;
  display: block;
  position: absolute;
  background-color: inherit;
}

.Tooltip:hover .Tooltip-content {
  opacity: 1;
  visibility: visible;
}

.Tooltip--positionBottom .Tooltip-content {
  bottom: initial;
  top: 100%;
}

.Tooltip--positionBottom .Tooltip-content::before {
  top: initial;
  bottom: 100%;
}

.Tooltip--positionLeft .Tooltip-content {
  bottom: 50%;
  transform: translateY(50%);
  right: 100%;
  left: initial;
  margin: 0 10px;
}

.Tooltip--positionLeft .Tooltip-content::before {
  top: 50%;
  left: 100%;
}

.Tooltip--positionRight .Tooltip-content {
  bottom: 50%;
  transform: translateY(50%);
  right: initial;
  left: 100%;
  margin: 0 10px;
}

.Tooltip--positionRight .Tooltip-content::before {
  top: 50%;
  right: 100%;
  left: initial;
}

.Tooltip--alignLeft .Tooltip-content {
  left: initial;
  right: 50%;
  transform: initial;
  margin-right: -15px;
}

.Tooltip--alignLeft .Tooltip-content::before {
  left: initial;
  right: 0;
  margin: -5px 10px;
}

.Tooltip--alignRight .Tooltip-content {
  left: 50%;
  transform: initial;
  margin-left: -15px;
}

.Tooltip--alignRight .Tooltip-content::before {
  left: 0;
  margin: -5px 10px;
}

.Tooltip--alignBottom .Tooltip-content {
  bottom: initial;
  top: 50%;
  transform: initial;
  margin-top: -15px;
}

.Tooltip--alignBottom .Tooltip-content::before {
  top: 0;
  margin: 10px -5px;
}

.Tooltip--alignTop .Tooltip-content {
  bottom: 50%;
  transform: initial;
  margin-bottom: -15px;
}

.Tooltip--alignTop .Tooltip-content::before {
  top: initial;
  bottom: 0;
  margin: 10px -5px;
}
